.movie-cover-img{
    width: 100%;
    height: 328px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.img-hover-content{
    width: 100%;
    height: 328px;
    top: 0;
    right: 0;
    position: absolute;
    background: #211F1F;
    backdrop-filter: blur(3px);
    border-radius: 15px;
}
.movie-cover-img .img-hover-content{
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
}
.movie-cover-img:hover .img-hover-content{
    opacity: 1;
}
.movie-card{
    margin-top: 15px;
    width: 222px;
    height: 500px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    background-color: #211F1F;
    border-radius: 15px;
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.20)) drop-shadow(1px 2px 5px rgba(0, 0, 0, 0.20)) drop-shadow(4px 7px 9px rgba(0, 0, 0, 0.17)) drop-shadow(10px 17px 12px rgba(0, 0, 0, 0.10)) drop-shadow(17px 30px 14px rgba(0, 0, 0, 0.03)) drop-shadow(27px 46px 15px rgba(0, 0, 0, 0.00));
}
.flex-container{
    display: flex;
    justify-content: space-between;
    font-weight: ExtraBold;
}
.detail-container{
    height: 150px;
    padding: 14px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.movie-rate{
    font-size: 12px;
}
.movie-title{
    font-size: 16px;
    text-transform: uppercase;
}
.movie-genre{
    font-size: 10px;
}

.hover-content{
    position: absolute;
}