/*
    SearchBarMain
*/
.input-wrapper{
    height: 70px;
    min-width: 909px;
    border-radius: 40px;
    border: 1px solid #000;
    background: #FFF;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    padding-left: 10px;
}

input {
    background: transparent;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 1.5em;
    margin-left: 5px;
}
input:focus{
    outline: none;
}


/*
    SearchBar-Result
*/
.search-result{
    padding: 10px 20px;
}
.search-result:hover{
    background-color: #efefef;
    /* Hightlight ตัวชี้*/
}


/*
    Results-List
*/
/* .results-list{
    min-width: 909px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
   
    max-height: 300px;
    overflow-y: scroll;
} */


.results-list{
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    width: 909px;
    padding: 0;
    margin-top: 72px;
    z-index: 1;
    position: absolute;
    

}
.results-list:focus{
    cursor: pointer;
    display: block;
}




