.Banner-Container{
    display: flex;
    height: 300px;
    width: 1000px;
    border-radius: 30px;
    background: #A1E533;
    padding: 40px;
    position: relative;
    margin-bottom: 15px;
}
h1{
    font-weight: bolder;
}

p {
    width: 80%;
    font-weight: 1000;
}
.right-content{
    height: 300px;
}
img{
    height: 100%;
    border-radius: 20px;
    border: 1px solid #000;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.button-explore-more{
    width: 280px;
    height: 75px;
    border-radius: 15px;
    background: #000;
    color: white;
    font-size: 1.2em;
    font-weight: bolder;
    position: absolute; /* Position the button absolutely within the container */
    bottom: 40px; 
    left: 40px;

    
}
.button-explore-more:hover{
    cursor: pointer;
    color: violet;
}